<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
    <bean id="triangle" class="com.maynard.mitch.Triangle" >
        <!--<constructor-arg type="java.lang.String" value="20"></constructor-arg>-->
        <constructor-arg index="0" value="Equilateral"></constructor-arg>
        <constructor-arg index="1" value="20"></constructor-arg>
       <!-- <constructor-arg type="int" value="20"></constructor-arg>
        <constructor-arg type="java.lang.String" value="Equilateral"></constructor-arg>-->
    </bean>
</beans>