<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--Better to use ids to reference beans because you get type checking-->
<!--idref doesn't work in this version of Spring. Use ref local instead-->
<beans>
    <bean id="triangle" class="com.maynard.mitch.Triangle" name="triangle-name">
        <property name="pointA">
            <ref local="zeroPoint"></ref>
        </property>
        <property name="pointB">
            <bean class="com.maynard.mitch.Point">
                <property name="x" value="-20"></property>
                <property name="y" value="0"></property>
            </bean>
        </property>
        <property name="pointC">
            <bean class="com.maynard.mitch.Point">
                <property name="x" value="20"></property>
                <property name="y" value="0"></property>
            </bean>
        </property>
    </bean>

    <bean id="zeroPoint" class="com.maynard.mitch.Point">
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
    </bean>

    <alias name="triangle" alias="triangle-alias"></alias>
</beans>